
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family:monospace;
    font-weight: bolder;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(223, 225, 228);
}

#tela{
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;

}
canvas {
    margin: 0;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.blocoCarro{
    
}

